@using Microsoft.AspNetCore.Authentication;
@model Second.Web.MVC.Models.AboutViewModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h3>Tokens</h3>
<p>
    <span>Id Token :</span>
    <strong>@await ViewContext.HttpContext.GetTokenAsync("id_token")</strong>
</p>

<p>
    <span>Access Token :</span>
    <strong>@await ViewContext.HttpContext.GetTokenAsync("access_token")</strong>
</p>

<p>
    <span>Refresh Token :</span>
    <strong>@await ViewContext.HttpContext.GetTokenAsync("refresh_token")</strong>
</p>

<h3>Claims</h3>
@foreach (var claim in User.Claims)
{
    <div>
        <span>@claim.Type :</span>
        <strong>@claim.Value</strong>
    </div>
}
@foreach (var role in Model.Roles)
{
    <div>
        <span>role :</span>
        <strong>@role</strong>
    </div>
}
